* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Qanelas";
  src: url(../fonts/qanelas/QanelasRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Qanelas";
  src: url(../fonts/qanelas/QanelasMedium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Qanelas";
  src: url(../fonts/qanelas/QanelasSemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Qanelas";
  src: url(../fonts/qanelas/QanelasBold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Qanelas";
  src: url(../fonts/qanelas/QanelasExtraBold.otf);
  font-weight: 800;
}

:root {
  --qanelas: "Qanelas";
  --poppins : "Poppins", sans-serif;
  --bebas : "Bebas Neue", sans-serif;
  --blue : #2F5EFF;
  --dusty-blue : #587B90;
  --bg-blue : #383C71;
}

html {
  background-color: black;
  font-size: 10px;
}

@media (min-width: 1401px) {
  .container {
    max-width: 1366px;
  }
}

/* header css */
.header {
  background-color:transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 33;
  transition: 0.4s;
}
.header-active {
  background: rgb(255 255 255 / 70%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 20px 30px 10px #0000001f;
}

.logo-area {
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 15px #00000087;
  border-radius: 0 0 23px 23px;
  padding: 2rem;
  opacity: 1;
  width: 100%;
  max-width: 334px;
}
.flex-btn-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}
.primary-btn {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1.5px solid white;
  border-radius: 50px;
  width: fit-content;
  overflow: hidden;
  height: 48px;
  position: relative;
}
.primary-btn::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  background-color: var(--blue);
  transition: 0.5s all;
  height: 100%;
  border-radius: 50px;
}
.primary-btn:hover::before {
  width: 100%;
}
.header-active .primary-btn::before {
  width: 100%;
}
.header-active .primary-btn.btn-2::before {
  width: 100%;
}
.primary-btn-icon {
  height: 48px;
  width: 48px;
  font-size: 2rem;
  border-radius: 100%;
  color: white;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;
}
.primary-btn-text {
  font-size: 2rem;
  font-family: var(--qanelas);
  font-weight: 600;
  color: white;
  padding: 1rem 2rem  1rem 2.2rem;
  position: relative;
  z-index: 11;
  text-transform: uppercase;
}
.primary-btn.btn-2 .primary-btn-icon {
  background-color: var(--dusty-blue);
}
.primary-btn.btn-2::before {
  background-color: var(--dusty-blue);
}

/* banner area */

.para {
  font-size: 3.2rem;
  font-family: var(--qanelas);
  font-weight: 400;
  color: white;
}
.sec-title {
  font-size: 4.3rem;
  font-family: var(--qanelas);
  font-weight: 700;
  color: white;

}
.banner-layers {
  padding: 22rem 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.sec-sb-title {
  font-size: 5.9rem;
  font-family: var(--qanelas);
  font-weight: 600;
  color: white;
}
.banner-imgs-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* .banner-imgs-area .banner-mobile:nth-child(2) img {
  transform: scale(1.1);
} */
.bnner-slider-btn-area {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 190px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}
.bnner-slider-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.bnner-slider-btn.swiper-button-disabled {
  opacity: 60%;
}
.banner-mobile .bnner-mobile-img {
  transform: scale(0);
  opacity: 0;
}
.banner-mobile:nth-child(1) .bnner-mobile-img {
  transition: 0.3s ;
}
.banner-mobile:nth-child(2) .bnner-mobile-img {
  transition: 0.3s 0.4s;
}
.banner-mobile:nth-child(3) .bnner-mobile-img {
  transition: 0.3s 0.8s;
}
.swiper-slide.banner-layers.swiper-slide-active .banner-mobile:nth-child(1) .bnner-mobile-img {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide.banner-layers.swiper-slide-active .banner-mobile:nth-child(2) .bnner-mobile-img {
  opacity: 1;
  transform: scale(1.1);
} 
.swiper-slide.banner-layers.swiper-slide-active .banner-mobile:nth-child(3) .bnner-mobile-img {
  opacity: 1;
  transform: scale(1);
} 

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

/* logo section */

.logo-section {
  padding: 4rem 0;
  background-color: #fff;
}
.logo-slider {
  overflow: hidden;
}

.logo-slider .swiper-wrapper {
  align-items: center;
}

/* our ser section */

.our-ser-sec {
  padding: 7rem 0;
  background-color: var(--bg-blue);
  position: relative;
}
.ser-right-img {
  position: absolute;
  right: 0;
  top: 20px;
  width: 550px;
  max-width: unset !important;
  z-index: 0;
}
.ser-img-arae {
  width: fit-content;
  position: relative;
}
.our-ser-img {
  position: relative;
  z-index: 1;
}
.ser-lottie-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 755px;
  max-width: unset !important;
  z-index: 0;
}
.ser-stick-area {
  position: sticky;
  top: 150px;
}
.flex-btn-area.service {
  margin-top: 90px;
}
.services-list-area {
  position: relative;
  z-index: 1;
}
.service-box {
  background-color: var(--bg-blue);
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 2.5rem 4rem 2rem 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 20px 20px 20px 0 #00000036;
  overflow: hidden;
  z-index: 99;
}
.service-box::after {
  height: 120px;
  width: 120px;
  position: absolute;
  content: " ";
  top: 0px;
  right: 0px;
  border-radius: 0px 0px 0px 110px;
  background-color: var(--blue);
  transition: 0.4s;
  z-index: -1;
}
.service-box:hover::after {
  height: 100%;
  width: 100%;
  border-radius: 0 0 0 10rem; 
}
.service-box:hover :where(.ser-count , .ser-title) {
  color: white;
}
.ser-count {
  font-size: 12.7rem;
  font-family: var(--qanelas);
  font-weight: 700;
  color: var(--dusty-blue);
  opacity: 26%;
  line-height: 1;
  transition: 0.3s 0.05s;
}
.ser-title {
  font-size: 3.6rem;
  font-family: var(--qanelas);
  color: var(--blue);
  font-weight: 600;
  transition: 0.3s 0.05s;
}
.para-sm {
  font-size: 2rem;
  font-family: var(--qanelas);
  color: white;
  font-weight: 400;
  line-height: 1.1;
}
.ser-svg {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

/* result section */
.results-section {
  background-color: var(--bg-blue);
  padding: 0 0 10rem;
}
.result-area {
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 3rem;
  transition: 0.4s;
  position: relative;
  z-index: 22;
  overflow: hidden;
}
.result-area::before {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
  background-color: white;
  transition: 0.4s;
  border-radius: 1rem;
}
.result-area:hover::before {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.result-area .para-sm {
  transition: 0.3s 0.2s
}
.result-area:hover :where(.para-sm,.result-count ) {
  color: var(--dusty-blue);
}
.result-count {
  font-size: 6rem;
  color: var(--blue);
  font-family: var(--qanelas);
  font-weight: 900;
  transition: 0.3s 0.2s;
}

/* consult section */
.consult-section {
  padding: 5rem 0;
  background: rgb(12,29,81);
  background: linear-gradient(90deg, rgba(12,29,81,1) 0%, rgba(17,44,145,1) 100%);
}
.para-2 {
  font-size: 2.8rem;
}
.sm-title {
  font-size: 5rem;
  letter-spacing: -2.5px;
  line-height: 1.2;
}
.form-field-area {
  background-color: white;
  max-width: 540px;
  width: 100%;
  border-radius: 100px;
  padding: 1.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.primary-btn-2 {
  background-color: var(--dusty-blue);
  border-radius: 50px;
  padding: 1.2rem 3.1rem;
  font-size: 1.7rem;
  font-family: var(--poppins);
  font-weight: 500;
  border: none;
}
.form-field {
  font-size: 1.8rem;
  color: black;
  font-family: var(--poppins);
  font-weight: 500;
  background-color: transparent;
  border: none;
  width: 100%;
  max-width: 320px;
  padding: 1rem 0rem 1rem 2rem;
  outline: none;
}
.form-field::placeholder {
  color: #0E2267;
  opacity: 27%;
}
.consult-img-area {
  position: relative;
}
.consult-img-area {
  position: relative;
} 

/* hd section */

.hd-section {
  padding: 3rem 0;
  background: rgb(88,123,144);
  background: linear-gradient(94deg, rgba(88,123,144,1) 0%, rgba(17,44,145,1) 100%);
  margin-bottom: 50px;
}
.hd-title-area {
  display: flex;
  justify-content: start;
  align-items: center;
}
.hd-sec-title {
  font-size: 6.7rem;
  color: white;
  font-family: var(--bebas);
  line-height: 1;
  margin: 0;
  letter-spacing: 3.35px;
} 
.consult-img {
  position: absolute;
    top: 50%;
    transform: translateY(-24%) translateX(-50%);
    left: 50%;
    width: 870px;
    max-width: unset;
}