* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --space-font-family: "Space Grotesk", sans-serif;
  --color-white: white;
  --Turquoise-btn-color: #26f5bd;
  --text-gray-color: #b7b7b7;
  --Color-dark-bg: #2d2d2d;
}
body {
  background-color: var(--Color-dark-bg);
}

html {
  font-size: 62.5%;
}
.container {
  max-width: 1240px;
  width: 100%;
}

/* header start */
.header {
  margin-top: 3.2rem;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 0 3px;
}
.logo-title {
  color: var(--Turquoise-btn-color);
  font-family: var(--space-font-family);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  color: var(--color-white);
  font-family: var(--space-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
  transition: 0.6s;
}
.header-link:hover {
  color: var(--Turquoise-btn-color);
}
.header-link::before {
  position: absolute;
  content: " ";
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--Turquoise-btn-color);
  left: 0;
  transition: 0.6s;
}
.header-link:hover::before {
  width: 100%;
}
.header-right-area {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: end;
}
.account-link {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--color-white);
  font-family: var(--space-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.6s;
  text-decoration: none;
  border-radius: 16px;
  text-transform: capitalize;
}
.account-link:hover {
  background-color: var(--Turquoise-btn-color);
  color: var(--Color-dark-bg);
}

/* header end */

/* banner start */
.banner {
  padding-top: 130px;
}
.banner-title {
  color: var(--color-white);
  font-family: var(--space-font-family);
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.84px;
  margin-bottom: 24px;
}
.banner-para {
  font-family: var(--space-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text-gray-color);
  margin-bottom: 24px;
}
.banner-badges {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}
.banner-badg-inner {
  border-radius: 16px;
  padding: 16px;
  background-color: var(--Turquoise-btn-color);
}

.checked {
  color: var(--Turquoise-btn-color);
}
.bannr-rating-area {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating-no {
  font-family: var(--space-font-family);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  color: var(--color-white);
}
.rating-qty {
  color: var(--text-gray-color);
  font-family: var(--space-font-family);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.banner-img-sec {
  position: absolute;
  top: 0;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}
.svgu {
    animation: animName 20s linear infinite;
}
@keyframes animName {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }

/* logo section start */
.brand-logo-sec {
  padding: 100px 0;
}
.logo-sec-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* conversation section start */
.your-conversations-sec {
  padding: 60px 0;
}
.conver-title {
  font-family: var(--space-font-family);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.48px;
  color: var(--color-white);
}
.learn-more {
  background-color: var(--Turquoise-btn-color);
  color: black;
  font-weight: 700;
  width: fit-content;
}
.data-safe-area {
  background-color: #373737;
  position: relative;
  border-radius: 16px;
  margin-top: 50px;
  min-height: 520px;
  height: auto;
}
.data-safe-left {
    padding: 32px 0px 0 20px;
}
.data-safe-top img {
  margin-bottom: 16px;
}
.conver-base-title {
  font-family: var(--space-font-family);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.32px;
  color: var(--color-white);
}
img.img-fluid.data-sefe-img {
  position: absolute;
  bottom: 0;
}
.mt280px {
    margin-top: 280px;
}
.mt-15px {
    margin-top: 15px;
}
img.img-fluid.secure-img-1 {
    position: absolute;
    top: 0;
    right: 0;
}
.data-safe-left.mt-20 {
    margin-top: 30px;
}
.secure-img-2 {
    position: relative;
    width: 100%;
}
.btm-24px {
    bottom: -24px;
}


/* our process */
.our-process-sec {
  padding: 55px 0;
}
.section-hd {
  text-align: center;
  font-family: var(--space-font-family);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  letter-spacing: -0.48px;
  background: var(--gradient-1, linear-gradient(180deg, #26F5BD 22.4%, #E1FEF6 66.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 45px;
}
.our-process-right-inner {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--Turquoise-btn-color);
  display: flex;
}
.process-text-para {
  color: var(--text-gray-color);
/* body */
  font-family: var(--space-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.process-text-hd {
  color: var(--color-white);
/* body-lead */
  font-family: var(--space-font-family);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 8px;
}
.our-process-line {
  position: absolute;
  left: 18px;
  top: 6.033px;
}
.bnner-top-area {
  width: 80.597px;
  height: 11.831px;
  transform: rotate(-4.012deg);
  flex-shrink: 0;
  border-radius: 0px 0px 14.788px 14.788px;
  background: var(--Color-dark-2, #373737);
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 9999;
} 
.banner-img-sec img {
  border-radius: 14.808px;
  border: 11.831px solid var(--Color-dark-2, #373737);
  height: 571.57px;
  transform: rotate(-4.012deg);
  flex-shrink: 0;
}