---

import { Image } from "astro:assets";
import logo from "../assets/images/logo.png"


---


<header class="header" > 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-lg-4">
                <a class="text-decoration-none logo-area" href="/">
                    <Image src={logo}  class={'img-fluid logo' } alt={'logo'} title={'logo'} />
                </a>
            </div>
            <div class="col-6 col-lg-8">
                <div class="flex-btn-area">
                    <div class="">
                        <a href="#" class="primary-btn">
                            <i class="fa-solid fa-phone"></i>
                            123-123-0000
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>