---

import { Image } from "astro:assets";
import logo from "../assets/images/logo.png"


---


<header class="header" > 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-lg-4">
                <a class="text-decoration-none logo-area" href="/">
                    <Image src={logo}  class={'img-fluid logo' } alt={'logo'} />
                </a>
            </div>
            <div class="col-6 col-lg-8">
                <div class="flex-btn-area">
                    <div class="">
                        <a href="#" class="primary-btn">
                            <span class="primary-btn-icon">
                                <i class="fa-solid fa-phone-volume"></i>
                            </span>
                            <span class="primary-btn-text">
                                123-123-0000
                            </span>
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="primary-btn btn-2">
                            <span class="primary-btn-icon">
                                <i class="fa-brands fa-rocketchat"></i>
                            </span>
                            <span class="primary-btn-text">
                                live chat
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>