---

interface Props {
	buttoncontent: string;
}

const { buttoncontent , classes , dataview } = Astro.props

---


<button data-view={dataview} type="button" class={`techstack-tab-btn ${classes}`}>
    {buttoncontent}
</button>